.card-group .card {
    max-width: 25%;
}

.headerText{
    font-family: 'Roboto', sans-serif;
    font-size: 125%;
}

.alignleft {
	float: left;
    font-size: 150%;
}
.alignright {
	float: right;

}

.description{
	font-family: 'Josefin Sans', sans-serif;
	text-align: right;
	font-size: 50%;
}

.pure-text {
    white-space: pre-wrap;
}


.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }